.login_pagina_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form_pagina {
    border-radius: 2px;
    background: #eeeeee;
    box-shadow: #b7b7b7 5px 20px 20px;
    background: url('../assets/InlogFotoTwee.jpg') no-repeat center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    width: 40%;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20vh;

}

input, [type=text],
[type=password] {
    font-size: 1vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 20px;
    width: 100%;
    margin: 5px;
    padding-right: 40px;
    border: none;
    box-shadow: inset rgba(114, 175, 95, 0.34) 1px 1px 20px;
}

input:enabled, [type=text],
[type=password] {
    border: none;
}

.form_pagina button {
    margin: 30px;
    font-size: 15px;
    border: none;
    background: white;
    border-radius: 20px;
    width: 25%;
    height: 10%;
}

.form_pagina button:hover {
    background: #e4ffe4;
    box-shadow: #c7c7c7  4px 4px 10px 5px;
}
