.memo_deliveryRequest {
    color: red;
}

.memo_deliveryRequest_info {
    color: #000000;
}


.carttestlayout {
    padding: 10rem 0 10rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.cart-checkout-items {
    margin: 0 5rem 0rem 5rem;
    display: flex;
    justify-content: space-between;
}

.cart-checkout-items-price {
    margin: 0 5rem 0rem 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.cart-items-personInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.form-cart-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}

.form-cart-checkout button {
    display: flex;
    justify-content: center;
    width: 9rem;
    height: 2.5rem;
    align-items: center;

    border: none;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;

    color: #ffffff;
    border-radius: 50px 30px 60px 30px;

    box-shadow: #000000 1px 2px 3px;
    background-color: rgb(9, 79, 5);
}

.form-cart-checkout button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(134, 134, 134);
}
