.admin-elements {
    display: flex;
    flex-direction: row;
    margin: 5rem;
    justify-content: space-evenly;
    transition: 0.5s;
}

.admin-elements-button {
    background-color: #83ff5f;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s;


    box-shadow: rgba(75, 75, 75, 0.34) 5px 5px 10px;
}

.admin-elements-button:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #31c200;
    cursor: pointer;
}

.persoonsgegevens-page-container {
    padding-top: 10rem;
}

.persoonsgegevens-background {

    background: url('../../../assets/Product_assets/BackgroundShortExtra.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;

    border-radius: 50rem 60rem 45rem 27rem;
    box-shadow: rgba(141, 141, 141, 0.44) 5px 10px 20px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin: 2rem 2rem;
    padding: 5rem 5rem;

    min-height: 400px;

}

userprofile-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}



.userprofile-collumn {
    display: none;
}

.ShowProfilePicture{
    width: 20rem;
    border-radius: 5rem 0;
    transition: 1s;
}

.ShowProfilePicture:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}





@media screen and (max-width: 1050px) {


    .persoonsgegevens-background {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        margin: 2rem;
        min-width: min-content;

    }

    .persoonsgegevens-container{

        display: flex;
        justify-content: center;
    }


    .ShowProfilePicture{
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 1rem 0 0 0
    }



    .userprofile-row {
        display: none;
    }

    .userprofile-collumn {
        display: flex;
        justify-content: center;
    }

    .userprofile-collumn button {
        display: flex;
        transform: scale(0.8);
    }

    .userprofile-collumn button:hover {
        display: flex;
        transform: scale(0.9);
    }


}





