.profile-picture > img {
    width: 15rem;
    border-radius: 5rem 0;
}

.imageastylenn {
    width: 20rem;
}

.geen-profielfoto-styling {
    display: flex;
    justify-content: center;
    text-align: center;

    background-color: rgba(188, 255, 165, 0.55);
    border-radius: 5rem;
}

@media screen and (max-width: 1050px) {

    .profile-picture > img {
        width: 5rem;
        border-radius: 2rem 0;
    }

}