.profile-picture > img {
    width: 15rem;
    border-radius: 5rem 0;
}

@media screen and (max-width: 1050px) {

    .profile-picture > img {
        width: 5rem;
        border-radius: 2rem 0;
    }

}