.bestellijst-page-container {
    display: flex;
    background-color: #ffefda;
    box-shadow: rgba(0, 0, 0, 0.18) 5px 10px 20px;
    padding: 1rem;
}

.bestellijst-artikellen ul{
    list-style-type: none;
}

.bestellijst-comment {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

