.shoppingCart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin: 1rem 0 0 20rem;*/


    height: 4rem;

    border-radius: 3rem;
}

.shopping-cart-icon {

    color: white;


    display: flex;
    margin: 0 1.5rem 0 1.5rem;
    transform: scale(3.5);

}