.producten-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;

    padding-top: 7rem;
    padding-bottom: 7rem;
}


.product-container {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-container a {
    list-style-type: none;
}

.background-image {
    background: url('../../assets/productenPaginaBackgroundFoto.jpg') no-repeat center center fixed;
    background-size: cover;
    max-height: 100%;
}
