.diepvries-container {
    /*background: rgba(248, 255, 146, 0.33);*/

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(200, 253, 230, 0.88) 0%, rgba(49, 220, 255, 0.9) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(200, 253, 230, 0.88) 0%, rgba(49, 220, 255, 0.9) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(200, 253, 230, 0.88) 0%, rgba(49, 220, 255, 0.9) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(200, 253, 230, 0.88) 0%, rgba(49, 220, 255, 0.9) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(200, 253, 230, 0.88) 0%, rgba(49, 220, 255, 0.9) 100%);


    box-shadow: rgba(141, 141, 141, 0.44) 5px 10px 20px;
    border-radius: 20rem 15rem 5rem 45rem;

    margin: 2rem 2rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    max-width: 800px;
}

@media screen and (max-width: 1050px) {

    .diepvries-container {
        min-width: 500px;
    }

}

@media screen and (max-width: 740px) {

    .diepvries-container {
        min-width: 400px;
    }

}