.cart-layout {
    display: flex;
    flex-direction: column;
    transition: 0.4s;

}

.cart-titel-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cartNumberShown {
    transform: scale(1.5);
    color: white;
    background-color: #ff8686;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    width: 1.2rem;

    position: fixed;
    margin: -1.5rem 0 0 3rem;
    transition: 0.4s;
}

.cart-items {
    display: flex;
    justify-content: space-between;
}

.cart-button-remove {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;

    background-color: rgba(89, 89, 89, 0);
    color: #ffffff;
    border: solid white 1px;
    transition: 0.5s;
}

.cart-button-remove:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.47);
}

.cart-checkout-button {
    box-shadow: rgba(0, 0, 0, 0.3) 3px 5px 5px;

    font-family: inherit;
    border: none;
    width: fit-content;
    background-color: #c3ffc4;
    transition: 0.4s;
}

.cart-checkout-button:hover{
    transition: 0.4s;
    transform: scale(1.05);
    background-color: #efffef;
}

/*.float-area{*/
/*    height:100vh;*/
/*    display: flex;*/
/*    flex-direction:column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.floating-img{*/
/*    transform: translateY(-10%);*/
/*    animation: floater 1.5s infinite;*/
/*    transition: ease 0.5s;*/
/*    width: 80px;*/
/*    height:80px;*/
/*}*/

/*@keyframes floater {*/
/*    0%{transform: translateY(-10%);transition: ease 0.5s;}*/
/*    50%{transform: translateY(10%);transition: ease 0.5s;}*/
/*}*/