.account-button {
    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0.6);

    width: 10rem;
    height: 5rem;

    transition: transform 200ms ease-in-out;

}

.account-button:hover {
    transform: scale(0.7);
    width: 10rem;
    height: 5rem;

    transition: transform 200ms ease-in-out;

    cursor: pointer;

}